
TCTD2020.ArquitecturaCapasV1/.vs/TCTD2020.ArquitecturaCapasV1/v16/
TCTD2020.ArquitecturaCapasV1/TCTD2020.ArquitecturaCapasV1/bin/
TCTD2020.ArquitecturaCapasV1/TCTD2020.ArquitecturaCapasV1/obj/
TCTD2020.ArquitecturaCapasV1/TCTD2020.ArquitecturaCapasV1.Servicios/obj/
TCTD2020.ArquitecturaCapasV1/TCTD2020.ArquitecturaCapasv1.BLL/obj/
TCTD2020.ArquitecturaCapasV1/TCTD2020.ArquitecturaCapasV1.DAL/obj/
