.vs/CompositePersistente/v15/
.vs/CompositePersistente/v16/
CompositePersistente.BE/obj/
CompositePersistente.DAL/obj/
CompositePersistente.UI.Forms/
CompositePersistente/bin/
CompositePersistente/obj/
CompositePersistente.UI/obj/
CompositePersistente.DAL/bin/
CompositePersistente.UI/bin/
CompositePersistente.BE/bin/
