<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.8.9" targetFramework="net472" />
  <package id="iTextSharp" version="5.5.13.3" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net472" />
  <package id="PdfiumViewer.Native.x86_64.no_v8-no_xfa" version="2018.4.8.256" targetFramework="net472" />
  <package id="System.Data.SqlClient" version="4.8.6" targetFramework="net472" />
</packages>