Patrones.Singleton.Core/Patrones.Singleton.Console/bin/
Patrones.Singleton.Core/Patrones.Singleton.Console/obj/
Patrones.Singleton.Core/Patrones.Singleton.Core/obj/
Patrones.Singleton.Core/Patrones.Singleton.Core/bin/
