# Directorio node_modules/
node_modules/

# Construcción de la aplicación
dist/
out/

# Archivos de configuración de TypeScript
tsconfig.json
tsconfig.*.json

# Archivos de configuración de Visual Studio Code
.vscode/

# Historial de las sesiones de debug de VSCode
.vscode-test/

# Carpeta temporal de Electron
.electron/

# Archivos de dependencias
package-lock.json
yarn.lock
