PatronDecoratorC/.vs/PatronDecoratorC/v16/Server/
PatronDecoratorC/.vs/PatronDecoratorC/v16/.suo
PatronDecoratorC/PatronDecoratorC/bin/Debug/PatronDecoratorC.exe
PatronDecoratorC/PatronDecoratorC/bin/Debug/PatronDecoratorC.exe.config
PatronDecoratorC/PatronDecoratorC/bin/Debug/PatronDecoratorC.pdb
PatronDecoratorC/PatronDecoratorC/obj/Debug/.NETFramework,Version=v4.5.AssemblyAttributes.cs
PatronDecoratorC/PatronDecoratorC/obj/Debug/PatronDecoratorC.csproj.CoreCompileInputs.cache
PatronDecoratorC/PatronDecoratorC/obj/Debug/PatronDecoratorC.csproj.FileListAbsolute.txt
PatronDecoratorC/PatronDecoratorC/obj/Debug/PatronDecoratorC.csprojAssemblyReference.cache
PatronDecoratorC/PatronDecoratorC/obj/Debug/PatronDecoratorC.exe
PatronDecoratorC/PatronDecoratorC/obj/Debug/PatronDecoratorC.pdb
